/* $gap:4vh;
$padding:4vh;
$color:#48CAE5; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    width: 100%;
    min-height: 100vh;
}
[class^="box-"]{
    display: grid;
    background-color: #48CAE5;
    place-items: center;
}
.container{
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template: repeat(2,200px) / repeat(2,200px);
    /* justify-items: stretch; */
    justify-content: center;
    border: 5px solid salmon ;
}
/* .box-1{}
.box-2{}
.box-3{} */