/* $gap:4vh;
$padding:4vh;
$color:#48CAE5; */

/* mobile:480px;
tablet:768px;
desktop:1440px; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vh;
    gap: 4vh;
    border: 1vh solid #48CAE5;
    border-radius:10px ;
}
@media (max-width:768px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
}