/* $mobile  -> 576px
    $tablet  -> 768px
    $laptop  -> 992px
    $desktop -> 1200px */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
}
.container{
    height: 100vh;
}
