*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 50%;
    height: 50vh;
    border: 5px solid salmon;

    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

/* .box-1{
    order: 1;
} */